<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    <script>
      window.clientData = __CLIENT_DATA__;
    </script>
    <script type="module" crossorigin src="./assets/index-B6s2_krJ.js"></script>
    <link rel="stylesheet" crossorigin href="./assets/index-D8b4DHJx.css">
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
